version: '3.8'

services:
  bbdd-suplementos:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: bbdd-suplementos
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=yourStrong(!)Password
    ports:
      - "28510:1433"
    networks:
      - mi-red-suplementos
    volumes:
      - sql_data:/var/opt/mssql

  suplementos-api:
    image: marcoslahuertasalas/suplementos-api:v1
    container_name: suplementos-api
    ports:
      - "2841:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__SuplementosDB=Server=bbdd-suplementos,1433;Database=SuplementosDB;User Id=sa;Password=yourStrong(!)Password;TrustServerCertificate=True;
    depends_on:
      - bbdd-suplementos
    networks:
      - mi-red-suplementos

networks:
  mi-red-suplementos:
    driver: bridge

volumes:
  sql_data: